

/* ==========================================================================
	Author's custom styles
   ========================================================================== */

*{
	font-family: 'Forza SSm A', 'Forza SSm B';
	font-style: normal;
}
   
.container-fluid{
	padding: 0;
}

p{
	font-size: 0.929em;
	line-height: 1em;
	
	font-weight: 400;
	font-style: normal;
}

a{
	color: #00dcff;
}
   
#home{
	background-image: url(/img/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 200%;
	padding-top: 185px;
}
	#home > nav{
		background-color: white;
		opacity: 0.95;
		width: 60%;
		height: 125px;
		position: fixed;
		top: 0;
		
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 20%;
		padding-right: 20%;
		
		z-index: 99;
	}
	
	#home > nav > #logo{
		height: 100%;
		float: left;
		cursor: pointer;
	}
	
	#home > nav > ul{
		float: right;
	}
	
		#home > nav li{
			float: left;
			color: #c2c2c2;
			
			list-style: none;
		}
		
		#home > nav li:hover{
			border-bottom: 1px solid #c2c2c2;
		}
		
			#home > nav li a{
				font-weight: 700;
				font-style: normal;
				font-size: 0.927em;
				color: inherit;
			}
			
			#home > nav li a:hover{
				text-decoration: none;
			}
		
		#home > nav li.active{
			color: #8a8b8b;
			border-bottom: 1px solid #d5d4d4;
		}
   
	#home > header{
		height: 960px;
		color: white;
		background-color: transparent;
		padding-left: 50%;
		padding-top: 10%;
	}
	
		#home > header > h1{
			letter-spacing: 2px;
			font-size: 3.393em;
			
			font-weight: 700;
		}
		
		#home > header > h2{
			width: 15em;
			font-size: 2.250em;
			
			font-weight: 300;
		}

	#home > section{
		background-color: white;
		
		padding-right: 20%;
		padding-left: 20%;
		padding-top: 3%;
		padding-bottom: 3%;
	}
	
		#home > section > header > h1{
			color: #bababa;
			margin: 0;
			
			font-weight: 700;
			font-size: 1.357em;
			line-height: 1.357em;
		}
		
		#home > section > header > hr{
			margin-top: 0.5em;
			width: 1.5em;
			border-top-color: #eaeaea;
			border-bottom-color: #dedede;
		}
	
		#home > section#services{
			padding:0px;
			position:relative;
			background-color: #fafafa;
			color: #a3a3a3;
			overflow:hidden;
		}
			
			#home > section#services > header > hr{
				margin-left: 20%;
			}
		
			#home > section#services .services-content{
				padding-left:20%;
				padding-right:20%;
			}
		
			#home > section#services p{
				font-weight: 400;
				font-size: 1em;
				line-height: 1.357em;
			}
			
			#home > section#services .services-overlay {
				-moz-transform: rotate(-33deg); /* FF3.5+ */
				-o-transform: rotate(-33deg); /* Opera 10.5 */
				-webkit-transform: rotate(-33deg); /* Saf3.1+, Chrome */
				-ms-transform: rotate(-33deg); /* IE9 */
				transform: rotate(-33deg);
				filter: progid : DXImageTransform.Microsoft.Matrix ( sizingMethod ='auto expand', /* IE6-IE9 */ 
						 M11 = 0.838670567945424, M12 = 0.5446390350150271, M21 =-0.5446390350150271, M22 = 0.838670567945424 );
				zoom: 1;
				
				-moz-transform-origin: 50% 50%;
				-o-transform-origin: 50% 50%;
				-webkit-transform-origin: 50% 50%;
			}

			#home > section#services #hexagons{
				z-index:5;
				margin-top: 30px;
				margin-bottom: 30px;
				height:200px;
			}
			
			#home > section#services .hexagon-holder{
				position:absolute;
				height: 195px;
			}
			
			#home > section#services .hexagon-holder .service-hex{
				opacity:0.3;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
				  filter: alpha(opacity=30);
				  -moz-opacity: 0.3;
				  -khtml-opacity: 0.3;
			}
			
				#home > section#services .hexagon-holder .service-hex:hover{
					opacity: 1;
				}
			
			#home > section#services #hex-social {
				position:absolute;
				margin-left:0px;
				margin-top:0px;
			}
			
			#home > section#services > #overlay-content {
				position:absolute;
				display:none;
				margin-top: 100px;
				z-index: 23;
				padding-right: 20%;
				padding-left: 20%;
			}
			
				#home > section#services #overlay-content h1{
					font-weight: 700;
					font-size: 1.357em;
					line-height: 1em;
					color: #bebebe;
				}
				
				#home > section#services #overlay-content hr{
					margin-top: 0;
					margin-bottom: 0.5em;
					width: 0.9em;
					border-top-color: #ededed;
					border-bottom-color: #cfcfcf;
				}
				
				#home > section#services #overlay-content p.intro{
					font-weight: 500;
					font-size: 1.357em;
					line-height: 1.571em;
					color: #8c8c8c;
				}
				
				#home > section#services #overlay-content .text{
					column-count:3;
					-moz-column-count:3; /* Firefox */
					-webkit-column-count:3; /* Safari and Chrome */
				}
				
				#home > section#services #overlay-content p{
					font-weight: 400;
					font-size: 0.928em;
					line-height: 1.25em;
					color: #bdbdbd;
				}
			
			#home > section#services #hexagons .hexagon-content {
				display:none;
			}
			
			#home > section#services #hexagons .hexagon-upper{
				width: 0;
				border-bottom: 50px solid #18bcef;
				border-left: 85px solid transparent;
				border-right: 85px solid transparent;
				position: relative;
			}
			
			#home > section#services #hexagons .hexagon-mid{
				position:relative;
				width: 170px;
				height: 60px;
				background-color: #18bcef;
				cursor: pointer;
				padding-top: 35px;
			}
			
			#home > section#services #hexagons .hexagon-mid > p {
				color: white;
				text-align: center;
				font-weight: 700;
				font-size: 1.357em;
				line-height: 1.357em;
			}
			
			#home > section#services #hexagons .hexagon-lower{
				position:relative;
				width: 0;
				border-top: 50px solid #18bcef;
				border-left: 85px solid transparent;
				border-right: 85px solid transparent;
			}
			
			
		
			#home > section#services .hexagon:before {
				content: " ";
				width: 0;
				height: 0;
				border-bottom: 50px solid #13bdef;
				border-left: 85px solid transparent;
				border-right: 85px solid transparent;
				position: absolute;
				top: -50px;
			}
			
			#home > section#services .hexagon{
				margin-top: 50px;
				width: 170px;
				height: 60px;
				background-color: #13bdef;
				position: relative;
				cursor: pointer;
				
				opacity: 0.4;
				
				margin-right: auto;
				margin-left: auto;
				
				padding-top: 35px;
			}
			
			#home > section#services .hexagon:hover{
				opacity: 1;
			}
			
				#home > section#services .hexagon p{
					color: white;
					text-align: center;
					
					font-weight: 700;
					font-size: 1.357em;
					line-height: 1.357em;
				}

			#home > section#services .hexagon:after {
				content: "";
				width: 0;
				position: absolute;
				bottom: -50px;
				border-top: 50px solid #13bdef;
				border-left: 85px solid transparent;
				border-right: 85px solid transparent;
			}

		
		#home > section#cases{
			background-color: #f0f0f0;
			color: #bdbdbd;
		}
		
		#home > section#cases #case-zoom{
			height: 450px;
		}
		
			#home > section#cases #case-zoom #case-media{
				height: 100% !important;
				background-color: black;
				position: relative;
			}
				
				#home > section#cases #case-zoom #case-media ul{
					margin: 0;
				}
				
				#home > section#cases #case-zoom #case-media ul li{
					list-style: none;
					float: left;
					display: block;
					min-height: 450px;
					background-size: 100%;
					background-repeat: no-repeat;
				}
				
				#home > section#cases #case-zoom #case-media .dots{
					position: absolute;
					left: 0;
					right: 0;
					bottom: 20px;
				}
				
					#home > section#cases #case-zoom #case-media .dots li{
						display: inline-block;
						width: 10px;
						height: 10px;
						margin: 0 4px;

						text-indent: -999em;

						border: 2px solid #000;
						border-radius: 6px;

						cursor: pointer;
						opacity: .4;

						-webkit-transition: background .5s, opacity .5s;
						-moz-transition: background .5s, opacity .5s;
						transition: background .5s, opacity .5s;
					}
					
					#home > section#cases #case-zoom #case-media .dots li.active{
						background: #000;
						opacity: 1;
					}
		
			#home > section#cases #case-zoom #case-description{
				background-color: white;
				height: 100%;
				padding: 1em;
				overflow: auto;
			}
			
				#home > section#cases #case-zoom #case-description header > h1{
					color: #1cdfff;
					margin-bottom: 0;
					
					font-weight: 500;
					font-size: 1.357em;
					line-height: 1.357em;
					
					text-transform: capitalize;
				}
				
				#home > section#cases #case-zoom #case-description header > hr{
					margin-top: 0;
					margin-bottom: 0.5em;
					width: 1.5em;
					border-top-color: #c4f5ff;
					border-bottom-color: #35e1ff;
				}
				
				#home > section#cases #case-zoom #case-description p{
					font-weight: 400;
					font-size: 0.929em;
					line-height: 1.250em;
				}
				
		#home > section#cases #cases-thumbs{
			margin-top: 20px;
			height: 215px;
		}
		
			#home > section#cases #cases-thumbs .cases-thumb{
				height: 100%;
				background-color: #00dcff;
				cursor: pointer;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			}
			
				#home > section#cases #cases-thumbs .cases-thumb .description{
					display: none;
					color: white;
					text-align: center;
					margin-top: 15%;
				}
				
					#home > section#cases #cases-thumbs .cases-thumb:hover{
						background-image: none !important;
					}
				
					#home > section#cases #cases-thumbs .cases-thumb:hover .description{
						display: block;
					}
						
					#home > section#cases #cases-thumbs .cases-thumb .description h2{
						font-size: 1.3em;
						margin: 0;
						line-height: 1.3em;
						margin-bottom: 0.5em;
					}
					
					#home > section#cases #cases-thumbs .cases-thumb .description p{
						margin: 0;
					}
						
					#home > section#cases #cases-thumbs .cases-thumb .description hr{
						width: 1.5em;
						border-top-color: white;
						border-bottom-color: white;
						margin-left: auto;
						margin-right: auto;
						margin-top: 1em;
					}

		#home > section#clients{
			background-color: #464646;
			overflow: auto;
		}
		
			#home > section#clients #customers{
				overflow: auto;
			}
			
			#home > section#clients #partners{
				overflow: auto;
			}
			
				#home > section#clients #partners header{
					margin-top: 20px;
				}
		
			#home > section#clients  header > h1{
				color: #c3c3c3;
				margin: 0;
				
				font-weight: 700;
				font-size: 1.357em;
				line-height: 1.357em;
			}
			
			#home > section#clients  header > hr{
				margin-top: 0;
				width: 1.5em;
				border-top-color: #7d7d7d;
				border-bottom-color: #686868;
			}
			
			#home > section#clients .company{
				background-color: #e6e6e6;
				width: 15%;
				float: left;
				
				margin-right: 1.6%;
				margin-top: 8px;
				margin-bottom: 8px;
			}
		
		#home > section#about{
			background-color: #fafafa;
		}
			#home > section#about #about-text{
				overflow: auto;
			}
		
				#home > section#about #about-text > header{
					width: 92%;
					background-image: url(/img/about-nubis.png);
					background-size: 100%;
					background-repeat: no-repeat;
					padding: 4%;
				}
			
					#home > section#about #about-text > header > h2{
						font-weight: 800;
						color: #bebebe;
						text-transform: uppercase;
						font-size: 6em;
						line-height: 1em;
					}
					
					#home > section#about #about-text > header > hr{
						margin-top: 0;
						width: 1.5em;
						border-top-color: #5de5fd;
						border-bottom-color: #91ebfc;
					}
					
					#home > section#about #about-text > header > p{
						color: #00dcff;
						text-transform: uppercase;
						font-size: 1.357em;
						font-weight: 500;
					}
			
				#home > section#about #about-text h3{
					color: #909090;
					font-weight: 500;
					font-size: 1.357em;
					line-height: 1.714em;
				}
			
				#home > section#about #about-text #intro-text{
					color: #c0c0c0;
					column-count:3;
					-moz-column-count:3; /* Firefox */
					-webkit-column-count:3; /* Safari and Chrome */
				}
				
					#home > section#about #about-text #intro-text p{
						font-weight: 400;
						font-size: 0.929em;
						line-height: 1.25em
					}
					
				#home > section#about #about-text > hr{
					width: 30.3%;
					margin: 10px 1.5%;
					
					border-top-color: #f4f4f4;
					border-bottom-color: #f1f1f1;
					
					float: left;
				}
				
		
			#home > section#about #quote{
				overflow: auto;
				
				font-style: normal;
			}
		
				#home > section#about #quote img{
					float: left;
					width: 30%;
					
					-webkit-clip-path: polygon(56.55172413793104% 1.7241379310344827%, 94.13793103448276% 23.448275862068964%, 94.13793103448276% 37.58620689655172%, 81.72413793103448% 45.17241379310345%, 81.72413793103448% 74.13793103448276%, 56.55172413793104% 88.62068965517241%, 31.379310344827587% 74.13793103448276%, 31.379310344827587% 45.17241379310345%, 44.13793103448276% 37.93103448275862%, 31.379310344827587% 30.344827586206897%, 31.379310344827587% 16.206896551724135%, 14.827586206896552% 36.206896551724135%, 27.241379310344826% 43.44827586206896%, 27.241379310344826% 57.58620689655173%, 14.827586206896552% 64.82758620689654%, 2.0689655172413794% 57.58620689655173%, 2.0689655172413794% 43.44827586206896%, 14.827586206896552% 36.206896551724135%, 31.379310344827587% 16.206896551724135%);
					-moz-clip-path: polygon(56.55172413793104% 1.7241379310344827%, 94.13793103448276% 23.448275862068964%, 94.13793103448276% 37.58620689655172%, 81.72413793103448% 45.17241379310345%, 81.72413793103448% 74.13793103448276%, 56.55172413793104% 88.62068965517241%, 31.379310344827587% 74.13793103448276%, 31.379310344827587% 45.17241379310345%, 44.13793103448276% 37.93103448275862%, 31.379310344827587% 30.344827586206897%, 31.379310344827587% 16.206896551724135%, 14.827586206896552% 36.206896551724135%, 27.241379310344826% 43.44827586206896%, 27.241379310344826% 57.58620689655173%, 14.827586206896552% 64.82758620689654%, 2.0689655172413794% 57.58620689655173%, 2.0689655172413794% 43.44827586206896%, 14.827586206896552% 36.206896551724135%, 31.379310344827587% 16.206896551724135%);
					-ms-clip-path: polygon(56.55172413793104% 1.7241379310344827%, 94.13793103448276% 23.448275862068964%, 94.13793103448276% 37.58620689655172%, 81.72413793103448% 45.17241379310345%, 81.72413793103448% 74.13793103448276%, 56.55172413793104% 88.62068965517241%, 31.379310344827587% 74.13793103448276%, 31.379310344827587% 45.17241379310345%, 44.13793103448276% 37.93103448275862%, 31.379310344827587% 30.344827586206897%, 31.379310344827587% 16.206896551724135%, 14.827586206896552% 36.206896551724135%, 27.241379310344826% 43.44827586206896%, 27.241379310344826% 57.58620689655173%, 14.827586206896552% 64.82758620689654%, 2.0689655172413794% 57.58620689655173%, 2.0689655172413794% 43.44827586206896%, 14.827586206896552% 36.206896551724135%, 31.379310344827587% 16.206896551724135%);
					clip-path: polygon(56.55172413793104% 1.7241379310344827%, 94.13793103448276% 23.448275862068964%, 94.13793103448276% 37.58620689655172%, 81.72413793103448% 45.17241379310345%, 81.72413793103448% 74.13793103448276%, 56.55172413793104% 88.62068965517241%, 31.379310344827587% 74.13793103448276%, 31.379310344827587% 45.17241379310345%, 44.13793103448276% 37.93103448275862%, 31.379310344827587% 30.344827586206897%, 31.379310344827587% 16.206896551724135%, 14.827586206896552% 36.206896551724135%, 27.241379310344826% 43.44827586206896%, 27.241379310344826% 57.58620689655173%, 14.827586206896552% 64.82758620689654%, 2.0689655172413794% 57.58620689655173%, 2.0689655172413794% 43.44827586206896%, 14.827586206896552% 36.206896551724135%, 31.379310344827587% 16.206896551724135%);
				}
				
				#home > section#about #quote #quote-text{
					overflow: auto;
					width: 50%;
					padding-left: 10%;
					font-weight: 700;
				}
				
					#home > section#about #quote blockquote{
						float: left;
						border: none;
						padding: 0;
						color: #b8b8b8;
						
						font-size: 1.357em;
						line-height: 1.357em;
						line-height: 1.357em;
					}
			
					#home > section#about #quote figcaption{
						float: left;
						color: #7b7b7b;
					}
		
			#home > section#about > #team-members{
				overflow: auto;
			}
		
			#home > section#about .hexagon{
				-webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				-moz-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				-ms-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				
				width: 16.5%;
				height: 130px;
				padding-top: 90px;
				
				margin-right: 8.3%;
				margin-left: 8.3%;
				margin-top: 20px;
				margin-bottom: 20px;
				
				background-size: cover;
				
				float: left;
			}
			
				#home > section#about .hexagon p{
					display: none;
					color: white;
					text-align: center;
					font-size: 100%;
					margin: 0;
				}
				
					#home > section#about .hexagon p.name{
						font-weight: bold;
					}
			
			#home > section#about .hexagon:hover{
				background-image: none !important;
				background-color: #13bdef;
			}
				
				#home > section#about .hexagon:hover p{
					display: block;
				}
				
			#home > section#about .hexagon.nophoto{
				background-color: #13bdef;
				
				width: 10%;
				height: 130px;
				padding-top: 90px;
				
				margin-right: 4.05%;
				margin-left: 4.05%;
			}
			
				#home > section#about .hexagon.nophoto:nth-child(5n+2){
					margin-left: 8.3%;
				}
			
				#home > section#about .hexagon.nophoto p{
					display: block;
				}
		
		#home > section#blog{
			background-color: #464646;
		}
		
			#home > section#blog > header > h1{
				color: #c4c4c4;
			}
			
			#home > section#blog > header > hr{
				border-top-color: #545454;
				border-bottom-color: #888888;
			}
			
			#home > section#blog > article{
				background-color: white;
				overflow: auto;
				margin-top: 10px;
				margin-bottom: 10px;
				border: 1px solid #bbbbbb;
				outline: 1px solid #393939;
				padding: 20px;
			}
			
				#home > section#blog > article img.cover{
					float: left;
					width: 490px;
					
					margin-right: 20px;
					margin-left: 0;
				}
				
					#home > section#blog > article:nth-child(odd) img.cover{
						float: right;
						
						margin-right: 0;
						margin-left: 20px;
					}
				
				#home > section#blog > article h2{
					color: #838383;
					margin: 0;
					margin-bottom: 5px;
					padding: 0;
					
					font-weight: 700;
					font-size: 1.036em;
					line-height: 1.214em;
				}
				
				#home > section#blog > article p{
					color: #bababa;
					
					font-weight: 400;
					font-size: 0.929em;
					line-height: 1.357em;
				}
				
				#home > section#blog > article p:first-of-type{
					color: #a9a9a9;
					
					font-weight: 500;
					font-size: 0.929em;
					line-height: 1.357em;
				}
				
		
		#home > section#contact{
			background-color: white;
			
			height: 500px;
			
			padding: 0;
		}
		
			#home > section#contact #map{
				width: 100%;
				height: 100%;
				
				border: 0;
			}
			
			#home > section#contact > #contactform{
				-webkit-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				-moz-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				-ms-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
				
				background-color: #13bdef;
				margin-top: 130px;
				position: absolute;
				left: 36%;
				width: 20%;
				height: 20%;
				margin-left: 20%;
				
				z-index: 2;
				
				color: white;
				text-align: center;
				
				min-height: 350px;
				min-width: 350px;
			}
			
				#home > section#contact > #contactform h1{
					font-weight: 800;
					width: 60%;
					margin-left: auto;
					margin-right: auto;
				}
				
				#home > section#contact > #contactform form{
					margin: 0;
				}
			
				#home > section#contact > #contactform input, #home > section#contact > #contactform textarea{
					border-radius: 0;
					width: 70%;
					font-size: 0.8em;
					resize: none;
				}
				
				#home > section#contact > #contactform hr{
					margin-top: 0.5em;
					width: 3em;
					border-top-color: white;
					border-bottom-color: white;
					margin-left: auto;
					margin-right: auto;
				}
					
					#home > section#contact > #contactform hr:nth-of-type(1){
						margin-top: 7%;
					}
					
					#home > section#contact > #contactform hr:nth-of-type(2){
						
					}
					
				#home > section#contact > #contactform .social-button{
					margin: 5px;
					cursor: pointer;
				}

	#home > footer{
		overflow: auto;
		background-color: #fafafa;
		
		padding-left: 20%;
		padding-right: 20%;
	}
	
		#home > footer > aside{
			float: left;
			width: 23%;
			border-top: 1px solid #f0efef;
			
			margin-top: 15px;
			
			margin-left: 5%;
			margin-right: 5%;
		}
		
			#home > footer > aside > h1{
				font-weight: 700;
				font-size: 0.929em;
				line-height: 1.4em;
			}
			
			#home > footer > aside p{
				font-weight: 400;
				font-size: 0.929em;
				border-bottom: 0.3em;
			}
			
#preload{
	display: none;
}
