RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.nub.is
RewriteRule (.*) http://nub.is/$1 [R=301,L]

Redirect 301 /twitter https://twitter.com/nubisonline
Redirect 301 /facebook https://facebook.com/nubisonline
