ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.nub.is
RewriteRule (.*) http://nub.is/$1 [R=301,L]

RewriteRule ^$ index.php

# SEO URLs
RewriteRule ^diensten/$ pages/diensten.php
RewriteRule ^werk/$ pages/werk.php
RewriteRule ^over/$ pages/over.php
RewriteRule ^blog/$ pages/blog.php
RewriteRule ^contact/$ pages/contact.php

RewriteRule ^new$ shortener/new.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^preview/(.*)$ shortener/preview.php?code=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ shortener/redirect.php?code=$1
