---
---
<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ site.content.info.name }}</title>
		<meta name="viewport" content="width=device-width">

		{% bundle %} [/_source-assets/css/bootstrap.min.css ,/_source-assets/css/bootstrap-responsive.min.css ,/_source-assets/css/main.css] {% endbundle %}
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7847452/672622/css/fonts.css">
		
		<link rel="icon" type="image/x-icon" href="favicon.ico?v3">
	</head>
	<body>
		<div id="home" class="container-fluid" data-posx="0" data-posy="0">
			<nav data-tracking="true">
				<img id="logo" src="/assets/img/logo.png" alt="Logo">
				<ul>
					<li id="nav_services"><a href="#services">{{ site.content.sections.services.nav }}</a></li>
					<li id="nav_cases"><a href="#cases">{{ site.content.sections.cases.nav }}</a></li>
					<li id="nav_about"><a href="#about">{{ site.content.sections.about.nav }}</a></li>
					<li id="nav_blog"><a href="#blog">{{ site.content.sections.blog.nav }}</a></li>
					<li id="nav_contact"><a href="#contact">{{ site.content.sections.contact.nav }}</a></li>
				</ul>
			</nav>
			<header id="cover">
				<h1>{{ site.content.info.intro }}</h1>
				<h2>{{ site.content.info.tagline }}</h2>
			</header>
			<section id="services" data-scroll-url="/diensten/" data-scroll-title="Diensten">
				<div id="overlay-content">
				
				</div>
				<header>
					<h1 class="services-content">{{ site.content.sections.services.name }}</h1>
					<hr>
				</header>
				<p class="services-content">
					{{ site.content.sections.services.intro }}
				</p>
				<div id="hexagons">
					<div class="hexagon-holder hexagon-first" style="left:20%;">
						<div class="service-hex" id="hex-social">
							<div class="hexagon-upper"></div>
							<div class="hexagon-mid"><p>{{ site.content.sections.services.hexes.social.name | downcase }}</p></div>
							<div class="hexagon-lower"></div>
							<div class="hexagon-content">
								<h1>{{ site.content.sections.services.hexes.social.name }}</h1>
								<hr>
								<p class="intro">{{ site.content.sections.services.hexes.social.intro }}</p>
								<div class="text">
									<p>{{ site.content.sections.services.hexes.social.text }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="hexagon-holder hexagon-second" style="margin-left:-85px; left:50%;">
						<div class="service-hex" id="hex-creatie">
							<div class="hexagon-upper"></div>
							<div class="hexagon-mid"><p>{{ site.content.sections.services.hexes.creatie.name | downcase }}</p></div>
							<div class="hexagon-lower"></div>
							<div class="hexagon-content">
								<h1>{{ site.content.sections.services.hexes.creatie.name }}</h1>
								<hr>
								<p class="intro">{{ site.content.sections.services.hexes.creatie.intro }}</p>
								<div class="text">
									<p>{{ site.content.sections.services.hexes.creatie.text }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="hexagon-holder hexagon-third" style="left:80%; margin-left:-170px;">
						<div class="service-hex" id="hex-development">
							<div class="hexagon-upper"></div>
							<div class="hexagon-mid"><p>{{ site.content.sections.services.hexes.development.name | downcase }}</p></div>
							<div class="hexagon-lower"></div>
							<div class="hexagon-content">
								<h1>{{ site.content.sections.services.hexes.development.name }}</h1>
								<hr>
								<p class="intro">{{ site.content.sections.services.hexes.development.intro }}</p>
								<div class="text">
									<p>{{ site.content.sections.services.hexes.development.text }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="cases" data-scroll-url="/werk/" data-scroll-title="Werk">
				<header>
					<h1>{{ site.content.sections.cases.name }}</h1>
					<hr>
				</header>
				<div id="case-zoom" class="row-fluid">
					<div id="case-media" class="span8">
						{{ site.content.sections.cases.showreel.iframe }}
					</div>
					<div id="case-description" class="span4">
						<header>
							<h1>{{ site.content.sections.cases.showreel.title }}</h1>
							<hr>
						</header>
						<p>
							{{ site.content.sections.cases.showreel.description }}
						</p>
					</div>
				</div>
				<div id="cases-thumbs" class="row-fluid">
					<div class="cases-thumb span4">
						<div class="description">
							<h2></h2>
							<p></p>
							<hr>
						</div>
					</div>
					<div class="cases-thumb span4">
						<div class="description">
							<h2></h2>
							<p></p>
							<hr>
						</div>
					</div>
					<div class="cases-thumb span4">
						<div class="description">
							<h2></h2>
							<p></p>
							<hr>
						</div>
					</div>
				</div>
			</section>
			<section id="clients">
				<section id="customers">
					<header>
						<h1>{{ site.content.sections.clients.customers }}</h1>
						<hr>
					</header>
{% for company in site.content.clients.customers %}
					<img class="company" src="/assets/img/companies/customers/{{ company[0] }}.png"{% if company[1].url %} data-url="http://{{ company[1].url }}"{% endif %}>{% endfor %}
				</section>
				<section id="partners">
					<header>
						<h1>{{ site.content.sections.clients.partners }}</h1>
						<hr>
					</header>
{% for company in site.content.clients.partners %}
					<img class="company" src="/assets/img/companies/partners/{{ company[0] }}.png"{% if company[1].url %} data-url="http://{{ company[1].url }}"{% endif %}>{% endfor %}
				</section>
			</section>
			<section id="about" data-scroll-url="/over/" data-scroll-title="Over">
				<header>
					<h1>{{ site.content.sections.about.name }}</h1>
					<hr>
				</header>
				
				<section id="about-text">
					<header>
						<h2>{{ site.content.info.intro }}</h2>
						<hr>
						<p>{{ site.content.info.tagline }}</p>
					</header>
					<h3>{{ site.content.sections.about.text.header }}</h3>
					<div id="intro-text">
						{{ site.content.sections.about.text.intro | markdownify }}
					</div>
					<hr><hr><hr>
				</section>
				
				<figure id="quote">
					<img alt="Foto">
					<div id="quote-text">
						<blockquote>
						</blockquote>
						<figcaption></figcaption>
					</div>
				</figure>
				<header>
					<h1>{{ site.content.sections.about.team.name }}</h1>
					<hr>
				</header>
				<section id="team-members">
{% for employee in site.content.team.team_photos %}
					<div class="hexagon" data-photo="true" data-name="{{ employee[0] }}">
						<p class="name">{{ employee[1].name }}</p>
						<p class="title">{{ employee[1].title | downcase }}</p>
					</div>
{% endfor %}
{% for employee in site.content.team.team_nophotos %}
					<div class="hexagon" data-photo="false" data-name="{{ employee[0] }}">
						<p class="name">{{ employee[1].name }}</p>
						<p class="title">{{ employee[1].title | downcase }}</p>
					</div>
{% endfor %}
				</section>
			</section>
			<section id="blog" data-scroll-url="/blog/" data-scroll-title="Blog">
				<header>
					<h1>{{ site.content.sections.blog.name }}</h1>
					<hr>
				</header>
{% for post in site.posts %}
				<article>
					<img class="cover" alt="Cover photo" src="/assets/blog/img/{{ post.cover }}">
					<h2>{{ post.title }}</h2>
					<p>{{ post.excerpt }}</p>
					<p>{{ post.secondp }}</p>
					<a>Wordt later vervolgd&hellip;</a>
{% comment %}					<a href="{{ post.url }}">Lees verder &raquo;</a>{% endcomment %}
				</article>
{% if forloop.index == 2 %}{% break %}{% endif %}
{% endfor %}
			</section>
			<section id="contact" data-scroll-url="/contact/" data-scroll-title="Contact">
				<div id="contactform">
					<hr>
					<h1>{{ site.content.sections.contact.form.head }}</h1>
					<form>
						<input type="text" placeholder="naam" name="naam">
						<input type="email" placeholder="e-mail" name="email">
						<textarea placeholder="vraag" name="vraag"></textarea>
						<img src="/assets/img/send.png" alt="Versturen">
					</form>
					<hr>
				</div>
				<div id="map"></div>
			</section>
			<footer id="footer">
				<aside>
					<h1>{{ site.content.sections.footer.location }}</h1>
					<address>
						<p>{{ site.content.info.address.street }} {{ site.content.info.address.number }}</p>
						<p>{{ site.content.info.address.zip }} {{ site.content.info.address.city }}</p>
					</address>
				</aside>
				<aside>
					<h1>{{ site.content.sections.footer.contact }}</h1>
					<address>
						<p>T {{ site.content.info.contact.phone }}</p>
						<p>{{ site.content.info.contact.email }}</p>
					</address>
				</aside>
				<aside>
					<h1>{{ site.content.sections.footer.follow }}</h1>
					<a href="https://plus.google.com/{{ site.content.info.social.gplus }}" target="_new" rel="publisher"><img src="/assets/img/social-gplus.png"></img></a>
					<a href="https://twitter.com/{{ site.content.info.social.twitter }}" target="_new"><img src="/assets/img/social-twitter.png"></img></a>
					<a href="https://facebook.com/{{ site.content.info.social.facebook }}" target="_new"><img src="/assets/img/social-fb.png"></img></a>
				</aside>
			</footer>
		</div> <!-- /container -->
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{ site.analytics.code }}', '{{ site.analytics.domain }}');
			ga('send', 'pageview');
		</script>
		
		{% bundle %} [/_source-assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js] {% endbundle %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

		{% bundle %} [/_source-assets/js/vendor/bootstrap.min.js, /_source-assets/js/vendor/jquery.scrollTo.min.js, /_source-assets/js/vendor/jquery.localScroll.min.js, /_source-assets/js/vendor/unslider.min.js] {% endbundle %}
		
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
			{parsetags: 'explicit'}
		</script>
		
		{% bundle %} [/_source-assets/js/scrolltrack.js, /_source-assets/js/main.js] {% endbundle %}
		
		<div id="preload"></div>
	</body>
</html>
