---
---
<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ site.content.info.name }}</title>
		<meta name="viewport" content="width=device-width, user-scalable=false, initial-scale=1.0;">

		{% bundle %} [/_source-assets/css/bootstrap.min.css ,/_source-assets/css/bootstrap-responsive.min.css ,/_source-assets/css/mobile.css] {% endbundle %}
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7847452/672622/css/fonts.css">
		
		<link rel="icon" type="image/x-icon" href="favicon.ico?v3">
	</head>
	<body>
		<div id="home" class="container-fluid" data-posx="0" data-posy="0">
			<nav>
				<img id="logo" src="/assets/img/logo.png" alt="Logo">
				<ul>
					<li id="nav_services"><a href="#services">Diensten</a></li>
					<li id="nav_cases"><a href="#cases">Werk</a></li>
					<li id="nav_about"><a href="#about">Nubis</a></li>
					<li id="nav_blog"><a href="#blog">Blog</a></li>
					<li id="nav_contact"><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			<header id="cover">
				<h1>{{ site.content.info.intro }}</h1>
				<h2>{{ site.content.info.tagline }}</h2>
			</header>
			<section id="services">
				<div id="overlay-content">
				
				</div>
				<header>
					<h1 class="services-content">Diensten</h1>
					<hr>
				</header>
				<p class="services-content">
					Bij Nubis hebben we verstand van social media, creatie en techniek. In de applicaties die we bouwen, komen deze drie expertises samen. Je kan ook bij ons aankloppen voor &eacute;&eacute;n ervan. Wat we bij Nubis ook voor je doen, we verwarren het middel nooit met het doel: niet onze diensten, maar de doelstellingen van onze klanten staan centraal.
				</p>
				<section>
					<section class="service-description">
						<header>
							<h1>Social media</h1>
							<hr>
						</header>
						<p class="intro">Wij weten wat social media voor je kunnen doen en daarbij adviseren we je graag.</p>
						<div class="text">
						<p>Social media draait om content. We maken daarom eerst altijd een 'contentspectrum' en een communicatiekalender die als basis dienen voor de social-mediastrategie van onze klanten. We doen dat voor Facebook, maar ook voor andere social media. We beheren de community en communiceren in de tone of voice van onze klanten om zo in contact te blijven met de fans. Dat laatste doen we ook buiten kantooruren, omdat consumenten juist in de avond en in het weekend online actief zijn.</p>
					</section>
					<section class="service-description">
						<header>
							<h1>Creatie</h1>
							<hr>
						</header>
						<p class="intro">Creatie is waar social en development samen komen.</p>
						<div class="text">
						<p>Wij zetten strategie&euml;nuit, bedenken concepten, maken designs en schrijven copy.  Dit doen we door zelf te cre&euml;n, maar ook met bestaand materiaal kunnen we goed aan de slag. Zo realiseren wij succesvolle creaties,  zonder daarbij de specifieke kenmerken van social media uit het oog te verliezen: interactief, uitdagend en doelgericht.</p>
					</section>
					<section class="service-description">
						<header>
							<h1>Development</h1>
							<hr>
						</header>
						<p class="intro">Wij werken met jonge, talentvolle programmeurs die de technische mogelijkheden van social media volkomen doorgronden.</p>
						<div class="text">
						<p>We kunnen daardoor alle soorten apps bouwen. Ook de digitale platforms waarmee social media steeds vaker worden ge&iuml;egreerd, hebben voor ons vrijwel geen geheimen meer: we bouwen net zo makkelijk websites als mobiele applicaties of onlineadvertenties (banners). Wat we adviseren, kunnen we dus ook maken. Wel zo gemakkelijk.</p>
					</section>
				</section>
			</section>
			<section id="cases">
				<header>
					<h1>Cases</h1>
					<hr>
				</header>
				<div id="case-zoom" class="row-fluid">
					<div id="case-media" class="span8">
						<iframe src="//www.youtube.com/embed/ItMN4380Dn4" frameborder="0" allowfullscreen></iframe>
					</div>
					<div id="case-description" class="span4">
						<header>
							<h1>Showreel</h1>
							<hr>
						</header>
						<p>
							Bekijk hier onze showreel uit 2013.
						</p>
					</div>
				</div>
				<div class="row-fluid case-holder">
					<img class="case-thumb span4">
					</img>
					<div class="span8 case-description">
						<header>
							<h1></h1>
							<hr>
						</header>
						<p>
						</p>
					</div>
				</div>
				<div class="row-fluid case-holder">
					<img class="case-thumb span4">
					</img>
					<div class="span8 case-description">
						<header>
							<h1></h1>
							<hr>
						</header>
						<p>
						</p>
					</div>
				</div>
				<div class="row-fluid case-holder">
					<img class="case-thumb span4">
					</img>
					<div class="span8 case-description">
						<header>
							<h1></h1>
							<hr>
						</header>
						<p>
						</p>
					</div>
				</div>
			</section>
			<section id="clients">
				<section id="customers">
					<header>
						<h1>Klanten</h1>
						<hr>
					</header>
{% for company in site.content.clients.customers %}
					<img class="company" src="/assets/img/companies/customers/{{ company[0] }}.png"{% if company[1].url %} data-url="http://{{ company[1].url }}"{% endif %}>{% endfor %}
				</section>
				<section id="partners">
					<header>
						<h1>Partners</h1>
						<hr>
					</header>
{% for company in site.content.clients.partners %}
					<img class="company" src="/assets/img/companies/partners/{{ company[0] }}.png"{% if company[1].url %} data-url="http://{{ company[1].url }}"{% endif %}>{% endfor %}
				</section>
			</section>
			<section id="about">
				<header>
					<h1>Over Nubis</h1>
					<hr>
				</header>
				
				<section id="about-text">
					<header>
						<h2>{{ site.content.info.intro }}</h2>
						<hr>
						<p>{{ site.content.info.tagline }}</p>
					</header>
					<h3>Social media zijn altijd en overal, en bij Nubis kennen we de mogelijkheden als geen ander.</h2>
					<div id="intro-text">
						<p>Nubis (Latijn voor 'wolk') werd eind 2010 opgericht door Jelle Oskam en Gielke Burgmans. Sindsdien is Nubis uitgegroeid van een adviesbureau voor onlinemarketing tot 'digital agency' waar we werken op het snijvlak van marketing, design en techniek. Online laten die drie zich niet scheiden en dat doen wij dus ook niet.</p>
						<p>In veel van onze opdrachten spelen social media een belangrijke rol. Het is de laatste jaren steeds waardevoller gebleken voortdurend en op grote schaal in contact te staan met consumenten, en social media maken dat mogelijk. Het vereist niet altijd enorme budgetten, maar wel intelligente campagnes, apps en constant beheer van de gebruikte platforms. Bij Nubis doen we dat allemaal.</p>
						<p>We begonnen met een focus op Facebook, het meestgebruikte social media platform ter wereld. Bij Nubis plozen we als een van de eersten de technische werking van Facebook uit. Onze kennis daarvan is daardoor onderscheidend en zorgt voor beter marketingadvies en effectievere creaties. We zetten die expertise inmiddels ook in voor andere social media zoals Twitter, Pinterest, Instagram en Vine.</p>
						<p>Innoveren staat daarbij voorop. De computer die zes jaar geleden op onze bureau's stond, zit nu als smartphone in onze broekzak. Ook online volgen de vernieuwingen zich razendsnel op; wie kan nu al voorspellen wat h&eacute;t digitale platform van het volgende decennium wordt? Wij zijn altijd op de hoogte van de laatste ontwikkelingen en proberen ze als het even kan voor te blijven.</p>
						<p>Zoals onze naam al aangeeft, werken we bij Nubis 'in the cloud': we kunnen online altijd en overal bij ons werk. Het maakt Nubis flexibel en stelt ons in staat je snel te helpen. Bovendien hebben we een 'platte' organisatie, waardoor we snel kunnen reageren, essentieel bij online werken.</p>
					</div>
					<hr>
				</section>
				
				<header>
					<h1>Team</h1>
					<hr>
				</header>
				<section id="team-members">
{% for employee in site.content.team.team_photos %}{% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}
{% if modulo == '0' or forloop.first %}					<div class="row-fluid team-row">{% endif %}
						<div class="span4">
							<div class="team-member row-fluid">
								<img class="span6" src="/assets/img/team/{{ employee[0] }}.jpg">
								<div class="span6">
									<p class="name">{{ employee[1].name }}</p>
									<p class="title">{{ employee[1].title }}</p>
								</div>
							</div>
						</div>
{% if modulo == '2' or forloop.last %}					</div>{% endif %}
{% endfor %}

{% for employee in site.content.team.team_nophotos %}{% capture modulo %}{{ forloop.index0 | mod:6 }}{% endcapture %}
{% if modulo == '0' or forloop.first %}					<div class="row-fluid team-row">{% endif %}
						<div class="span2 team-member">
								<p class="name">{{ employee[1].name }}</p>
								<p class="title">{{ employee[1].title }}</p>
						</div>
{% if modulo == '5' or forloop.last %}					</div>{% endif %}
{% endfor %}
				</section>
			</section>
			<section id="blog">
				<header>
					<h1>Blog</h1>
					<hr>
				</header>
				<article>
					<img class="cover" alt="Cover photo" src="/assets/blog/img/cover-instagram.jpg">
					<h2>Instagram Video</h2>
					<p>Dankzij Instagram zijn we tegenwoordig allemaal al topfotograaf en nu worden we ook regisseur en cameraman! Instagram, wat eigendom is van Facebook,  heeft namelijk een nieuwe functie aan haar app toegevoegd: Video on Instagram.</p>
					<p>De videofunctie werkt zoals je het zou verwachten bij Instagram. Je maakt een filmpje waar je een filter overheen plaatst om het een mooi effect te geven, zoals je dat ook bij Instagram foto's doet. Wanneer je de opnameknop aanraakt, begint de app met filmen en als je loslaat stopt de opname. Op deze manier kan je hele korte shots maken waarmee je bijvoorbeeld een stop-motion filmpje kan maken. Je filmpje, ook wel InstaVid, kan maximaal 15 seconden duren.</p>
					<a>Wordt later vervolgd&hellip;</a>
				</article>
				<article>
					<img class="cover" alt="Cover photo" src="/assets/blog/img/cover-pebble.jpg">
					<h2>Waarom Pebble absoluut de moeite waard is</h2>
					<p>Afgelopen week heb ik na een jaar wachten eindelijk mijn Pebble in de post gevonden. Voor wie hem nog niet kent, de Pebble is &eacute;&eacute;n van de eerste smartwatches. Een horloge dus, maar met wat extra mogelijkheden.</p>
					<p>Deze smartwatch is op Frankwatching eerder besproken, maar het ging altijd vooral over de manier waar op het project tot leven is gekomen. Crowdsourcing is een geweldig concept, maar vandaag wil ik het hebben over wat je nou echt kunt met een Pebble, als eindgebruiker, developer en marketeer.</p>
					<a>Wordt later vervolgd&hellip;</a>
				</article>
			</section>
			<section id="contact">
				<hr>
				<h1>Get<br>in touch!</h1>
				<form>
					<input type="text" placeholder="naam" name="naam">
					<input type="email" placeholder="e-mail" name="email">
					<textarea placeholder="vraag" name="vraag"></textarea>
					<img src="/assets/img/send.png" alt="Versturen">
				</form>
				<hr>
			</section>
			<footer id="footer">
				<aside>
					<h1>Location</h1>
					<address>
						<p>{{ site.content.info.address.street }} {{ site.content.info.address.number }}</p>
						<p>{{ site.content.info.address.zip }} {{ site.content.info.address.city }}</p>
					</address>
				</aside>
				<aside>
					<h1>Contact</h1>
					<address>
						<p>T {{ site.content.info.contact.phone }}</p>
						<p>{{ site.content.info.contact.email }}</p>
					</address>
				</aside>
				<aside>
					<h1>Follow us</h1>
					<a href="https://plus.google.com/{{ site.content.info.social.gplus }}" rel="publisher"><img src="/assets/img/social-gplus.png"></img></a>
					<a href="https://twitter.com/{{ site.content.info.social.twitter }}" target="_new"><img src="/assets/img/social-twitter.png"></img></a>
					<a href="https://facebook.com/{{ site.content.info.social.facebook }}" target="_new"><img src="/assets/img/social-fb.png"></img></a>
				</aside>
			</footer>
		</div> <!-- /container -->
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-43992716-1', 'nub.is');
			ga('send', 'pageview');
		</script>
		
		{% bundle %} [/_source-assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js] {% endbundle %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
		
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		
		{% bundle %} [/_source-assets/js/mobile.js] {% endbundle %}
	</body>
</html>
