* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h3 {
	font-weight: 400;
	font-size: 2em;
}


header {
	background-color: #ffffff;
	padding-top: 19rem;
	padding-bottom: 19rem;
}


/*Start vacancy*/
body.vacancy-page header {
	padding-top: 4em;
    padding-bottom: 4em;
}

body.vacancy-page header img {
    width: 30em;
}


body.vacancy-page section.vacancy {
    background-color: #868178;
    color: #ffffff;
    padding: 1em;
}

/* text */



body.vacancy-page .vacancy a {
    text-decoration: none;
}

body.vacancy-page #job-title {
	color: #F5843D;
	font-weight:500;
}

body.vacancy-page #e-mail {
	color: #F5843D;
}

body.vacancy-page #vacancy-link{
	color: white;
	text-decoration: none;
	font-weight: 400;
}

/* h1 */

body.vacancy-page h1 {
	font-weight:100;
}

/* h2 */

@media (min-width: 540px) {
	body.vacancy-page h2{
		padding-right:0em;
	}
}

@media (min-width: 640px) {
	body.vacancy-page h2{
		padding-right:2em;
	}
}


@media (min-width: 714px) {
	body.vacancy-page h2{
		padding-right:0em;
	}
}

@media (min-width: 800px) {
	body.vacancy-page h2{
		padding-right:2em;
	}
}


@media (min-width: 1200px) {
	body.vacancy-page h2{
		padding-right:0em;
	}
}

body.vacancy-page h2 .emphasize{
    color: #F5843D;
}

body.vacancy-page h2#slogan {
    text-align: center!important;
    font-size:1.2em;
    font-weight: 400;
    font-style: italic;
}

@media (min-width: 900px) {
    body.vacancy-page h2#slogan {
        font-size:1.3em;
    }
}
@media (min-width: 1080px) {
    body.vacancy-page h2#slogan {
        font-size:1.4em;
    }
}
@media (min-width: 1200px) {
    body.vacancy-page h2#slogan {
        font-size:1.5em;
    }
}

/* h3 */
body.vacancy-page h3 {
    text-align: left!important;
    font-size: 1.4em;
    /*padding-left: 2em;*/
    font-weight: 200;
}

/* h4 */
body.vacancy-page h4 {
	font-size:1.0em;
    font-weight: 500;
    padding-left: 2em;
    margin-bottom:0;
}

/* p */

body.vacancy-page p#intro {
	font-weight:400;
	font-size:0.9em;
	padding-bottom: 1em;
	padding-top: 1em;
}

body.vacancy-page p .italic{
    font-style: italic;
}

body.vacancy-page {
	font-size: 1.0em;
	line-height:1.6;
    font-weight: 100;
}

body.vacancy-page p {
	margin-top:0;
}

/* end text */

body.vacancy-page ul{
	margin-top: 0;
	padding-left: 1.1em;
}

@media(min-width: 550px) {
    body.vacancy-page section.vacancy {
        padding: 4em;
    }
}

body.vacancy-page .job{
	max-width: 50em;
}

body.vacancy-page .header-container {
	width: calc(100% - 2rem);
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 970px) {
	body.vacancy-page .header-container {
		width: 970px;
		margin: auto;
	}
}
@media (min-width: 1200px) {
	body.vacancy-page .header-container {
		width: 1200px;
		margin: auto;
	}
}

body.vacancy-page header img.container {
	display: block;
	margin-bottom: 3rem;
}

body.vacancy-page #titleline{
	margin-right:1em;
}

body.vacancy-page .vacancies {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin-top:2em;
}

body.vacancy-page a .vacancies--vacancy{
	color: white
}

body.vacancy-page .vacancies--vacancy {
	display:block;
	min-height: 2em;
	flex-grow: 1;
	flex-basis: 100%;
	padding-left: 0.6em;
	padding-right:0.6em;
	margin-right: 1em;
	margin-bottom: 1em;
	border: 1px solid white;
	line-height: 2.0;
	overflow:hidden;
	color: white;
}

body.vacancy-page #empty_vacancy{
	border: none;
}

@media (min-width: 500px) {
	body.vacancy-page .vacancies--vacancy {
		flex-basis: 28%;
	}
}

body.vacancy-page .vacancies--vacancy #vacancy-link {
	color: white;
	text-decoration: none;
}

body.vacancy-page .vacancies--vacancy p#vac-text{
	min-height: 0em;
}

@media (min-width:500px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 12em;
	}
}

@media (min-width:550px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 14em;
	}
}

@media (min-width:625px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 10em;
	}
}

@media (min-width:749px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 14em;
	}
}


@media (min-width:786px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 12em;
	}
}

@media (min-width:853px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 10em;
	}
}

@media (min-width:1200px) {
	body.vacancy-page .vacancies--vacancy p#vac-text{
		min-height: 6em;
	}
}

body.vacancy-page .vacancies--vacancy p#vac-arrow{
	margin-right:1em;
	text-align: right;
}

/*End vacancy*/




.container {
	width: calc(100% - 2rem);
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: 970px) {
	.container {
		width: 800px;
		margin: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
		margin: auto;
	}
}

header img.container {
	display: block;
	margin-bottom: 3rem;
}

header h2 {
	color: #5a5a5a;
	font-weight: 300;
}


section.consulting {
	background-color: #c6c2bd;
	color: #ffffff;
}

section.tools {
	background-color: #868178;
	color: #ffffff;
}

.services {
	display:flex;
	flex-wrap:wrap;
}

.services section {
	width:50%;
	padding:30px;
}

.services h3 {
	margin-top:0;
}

@media (max-width:950px) {
	.services section {
		width:100%;
		padding:15px;
	}
}

.tool > .tool-about a {
	color: #ffffff;
}

.tool h4, .tool p {
	margin:0;
}

.tool img {
	width:50px;
}

.tool {
	display:flex;
	align-items:center;
	margin-bottom:15px;
}

.tool-about {
	margin-left:15px;
}


section.team {
	background-color: #635e55;
	color: #ffffff;
	padding-top: 5rem;
	padding-bottom: 1rem;
}

section.team > * {
	text-align: center;
}

section.contact {
	padding-top: 5rem;
	background-color: #ffffff;
	color: #5a5a5a;
}

section.contact > h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 700px) {
	section.contact > form, section.contact > h3 {
		width: 700px;
	}
}

section.links {
	padding-top: 5rem;
}

section.links p {
	text-align: center;
}

section.links p a {
	color: #868178;
}









.team__item {
	display: inline-block;
	margin-left: 4rem;
	margin-right: 4rem;
	margin-bottom: 4rem;
}

.team__item_photo {
	height: 140px;
	width: 140px;
	margin: auto auto 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.team__item_name, .team__item_job {
	display: block;
}






.form-group {
	width: 100%;
	overflow: auto;
	margin-bottom: 1rem;
}

.form-group > input, .form-group > textarea {
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-bottom: 1px solid #464646;
	padding: 0;
}

@media(min-width: 700px) {
	.form-group > input.half {
		width: 49%;
		display: inline-block;
	}

	.form-group > input.half:first-child {
		float: left;
	}

	.form-group > input.half:last-child {
		float: right;
	}
}

textarea.message {
	height: 200px;
	font-family: Arial;
}

button[type=submit] {
	background-color: #ffffff;
	color: #464646;
	border: 1px solid #464646;
	padding: 0.5rem 1rem;
}


.client-holder {
	text-align: center;
}

.client-holder img {
	margin: 1rem;
}

.team__item_name a {
	color: white;
}


[hidden] {
    display: none;
}


