
/* ==========================================================================
	Author's custom styles
   ========================================================================== */

@media (max-width: 767px){
	body {
		padding-right: 0;
		padding-left: 0;
	}
}

*{
	font-family: 'Forza SSm A', 'Forza SSm B';
	font-style: normal;
}
   
.container-fluid{
	padding: 0;
}

p{
	font-size: 1.125em;
	line-height: 1em;
	
	font-weight: 400;
	font-style: normal;
}

h1{
	font-size: 2.298em;
}

a{
	color: #00dcff;
}
   
#home{
	background-image: url(/assets/img/home.png);
	background-position: center 0;
	background-repeat: no-repeat;
        background-color: #e1e1e1;
}

	@media (min-width: 992px){
		#home{
			background-size:100%;
			background-position: initial;
		}
	}

#contact{
	background-image: url(/assets/img/contact-bg.png);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 185px;
}

	#home > nav{
		background-color: #e1e1e1;
                width: 60%;
		height: 100px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 20%;
		padding-right: 20%;
		z-index: 99;
	}
        #home > nav > #menu-wrapper{
            position: relative;
        }
            #home > nav > #menu-wrapper > #logo{
                    margin-top:36px;
                    position: absolute;
                    left: -30px;
                    float: left;
                    cursor: pointer;
            }



            #home > nav > #menu-wrapper > ul{
                    float: right;
                    display: none;
            }

		@media (min-width: 992px){
			#home > nav > #menu-wrapper > ul{
				display: block;	
			}
		}
	
		#home > nav li{
			display:inline-block;
			vertical-align:middle;
			line-height: 100px;
			float: left;
			color: #bebebe;
			padding-left:60px;
			list-style: none;
		}
		
		#home > nav li:hover{
			
		}
		
			#home > nav li a{
				font-weight: 500;
				font-style: normal;
				font-size: 1.476em;
				color: inherit;
				
			}
			
			#home > nav li a:hover{
				text-decoration: none;
			}
		
		#home > nav li.active{
			color: #8a8b8b;
			border-bottom: 1px solid #d5d4d4;
		}


	#home > #mega-menu{
		position: absolute;
		display: none;
		
		width: 100%;
		height: 100%;
		z-index: 1000;
	}

		#home > #mega-menu #background{
			position: absolute;
			
			width: 100%;
			height: 100%;
			background-color: #8c8c8c;
			filter: alpha(opacity=90);
		    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
		    opacity:0.9;
		    -moz-opacity: 0.90; 
		    zoom: 1;
		}

		#home > #mega-menu #menuCloseButton{
		display:inline-block;
		vertical-align:middle;
		
		
		z-index: 101;
		cursor: pointer;
	}

		#home > #mega-menu ul{
			position: absolute;
			width: 100%;
			height: 100%;
			margin-top:10%;
			margin-bottom: 10%;
			margin-left: 0;
		}

			#home > #mega-menu ul li#close{
				position: absolute;
				top: -185px;
				left: 29%;
			}

			#home > #mega-menu ul li{
				width: 100%;
				list-style: none;
				height: 48px;
				text-align: center;
				overflow: auto;
				padding-top: 26px;
				margin-bottom: 15px;
			}

				#home > #mega-menu ul li.menuitem:hover{
					background-color: #464646
				}


				#home > #mega-menu ul li a{
					width: 100%;
					color:white;
					font-size: 3.75em;
				}
						#home > #mega-menu ul li a:hover{
							text-decoration: none;
						}


   
	#home > header{
		min-height: 800px;
		color: white;
		padding-left: 20%;
		padding-right:20%;
		padding-top: 35%;
                padding-bottom: 40px; 
	}
	
		#home > header > h1{
			color: #fafafa;
			margin: 0;
			text-shadow: 2px 2px 5px #000000;
			font-weight: 700;
			margin-bottom:3px;	
		}
		
		#home > header > h2{
			color: #fafafa;
			text-shadow: 2px 2px 5px #000000;
			font-size: 1.5em;
			line-height: 1.8em;		
			font-weight: 400;
			font-style: normal;
                        text-shadow: none;
                          
		}
                
                     #home > header > h2#quote:before{
                        content:"\2018\2018";
                        color: #5a5a5a;
                    }
                    #home > header > h2#quote:after{
                        content:"\2019\2019";
                        color: #5a5a5a;
                    }
                    #home > header > h2#quote{
                            color: #5a5a5a;
                            font-weight: bold;
                            font-size: 1.7em;
                            line-height: 24px;
                            margin-top:  30px;
                            margin-bottom:  30px;
                    }

		#home > header > h3{
			padding-top:25px;
			color:#5a5a5a;
			font-size: 1.5em;
			line-height: 1.8em;
			font-weight: 500;
			font-style: normal;
		}

		#home > header > hr{
			margin-top: 2em;
                          border-top: 3px solid #fff;
			box-shadow: 2px 2px 3px #000000;
			width: 1.5em;

			color:#fafafa;
		}

	#home > section{
		background-color: #fafafa;
		
		padding-right: 20%;
		padding-left: 20%;
		padding-top: 3%;
		padding-bottom: 3%;
	}
	
		#home > section > header > h1{
			color: #bababa;
			margin: 0;			
			font-weight: 700;
			line-height: 1.357em;
		}
		
		#home > section > header > hr{
			margin-top: 0.5em;
			width: 1.5em;
			border-top-color: #eaeaea;
			border-bottom-color: #dedede;
		}
	

		#home > section#community-managers{

		

                        
                        min-height: 500px;
			background: rgb(250, 250, 250);
			background: -moz-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team-members.png') no-repeat;
			background: -webkit-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team-members.png') no-repeat;
			background: -o-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team-members.png') no-repeat;
			background: -ms-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team-members.png') no-repeat;
			background: linear-gradient(0deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team-members.png') no-repeat;

			background-size: cover;
			background-position: center center;
			overflow: auto;

			position:relative;

		}

			@media (min-width: 992px) {
				#home > section#community-managers{
					min-height: 620px;
				}
			}

			#home > section#community-managers  header > h1{
				color: #fafafa;
				text-shadow: 2px 2px 5px #000;
				margin: 0;
				
				font-weight: 700;
				line-height: 1.357em;
			}

			#home > section#community-managers p{
				font-size: 1.556em;
				line-height: 1.8em;		

				
				color: #fafafa;
				text-shadow: 2px 2px 5px #000;

			}

			#home > section#community-managers  header > hr{
				margin-top: 0.5em;
				width: 1.5em;
				border-top-color: #fafafa;
				border-bottom-color: #fafafa;
			}

				@media (min-width: 992px) {
					#home > section#community-managers  header > h1{
						color: black;
						text-shadow: none;
					}
					
					#home > section#community-managers  header > hr{
						border-top-color: black;
						border-bottom-color: black;
					}
					
					#home > section#community-managers p{
						color: black;
						text-shadow: none;
					}
                                        
                                        
				}



			/* Oud */
			#home > section#community-managers .circles{
				position:absolute;
				top:0px;
			}

			#home > section#community-managers .circles svg{
				position:absolute;
				display:none;
			}


			@media (min-width: 992px) {
				#home > section#community-managers .circles{
					height: 490px;
				}

					/*#home > section#community-managers .circles svg{
						color:blue;
					}*/
			}


		#home > section#prices{
			background-color: #959595;
			overflow: auto;
		}

		@media (min-width: 992px) {
			#home > section#prices{
				min-height: 700px;
			}
		}

		#home > section#prices p{
			font-size: 1.556em;
			color:white;
			line-height: 1.8em;		
			padding-bottom:20px;

		}

		#home > section#prices h1{
			padding-top:10%;
			color:white;
		}

		#home > section#prices #prices-images{
			padding-top:40px;
		}

			#home > section#prices #prices-images #left-prices{
				width:85%;
				height:194px;
				float:left;
				background:url('/assets/img/price-table.png') no-repeat;
				background-size: 100%;

			}
			#home > section#prices #prices-images #right-prices{
				margin-top: 3%;
				height: 90px;
				width: 10%;
				background:url('/assets/img/prices.png') no-repeat;
				background-size: 100%;
				height:194px;
				float: right;
			}

			@media (max-width: 767px){
				#home > section#prices #prices-images #left-prices{
					background:url('/assets/img/price-table-mobile.png') no-repeat;
					background-size: 100%;
					width:80%;
				}
				#home > section#prices #prices-images #right-prices{
					width:15%;
					margin-top: 7%;
				}
			}
				

		#home > section#clients{
			background-color: #464646;
			overflow: auto;
		}
		
			@media (min-width: 992px) {
				#home > section#clients{
					min-height: 700px;
				}
			}
		
			#home > section#clients #customers{
				overflow: auto;
			}
			
			#home > section#clients #partners{
				overflow: auto;
			}
			
				#home > section#clients #partners header{
					margin-top: 20px;
				}
		
			#home > section#clients  header > h1{
				color: white;
				margin: 0;
				padding-top:10%;
				font-weight: 700;
				line-height: 1.357em;
			}
			
			#home > section#clients  header > hr{
				margin-top: 0.5em;
				width: 1.5em;
				border-top-color: #7d7d7d;
				border-bottom-color: #686868;
			}
			
			#home > section#clients .company{
				background-color: #e6e6e6;
				width: 30%;
				float: left;
				
				margin-left: 1.6%;
				margin-top: 8px;
				margin-bottom: 8px;
				
				cursor: pointer;
			}

			@media (min-width: 992px) {
				#home > section#clients .company{
					width: 15%;
				}
			}
	
		
			#home > section#team-members{
				overflow: auto;
				background-color:white;

			}
		
			#home > section#team-members .hexagon{
				
				width: 50%;
				margin-bottom: 30px;
				height: 80px;

				float: left;

			}

			@media (min-width: 992px) {
				#home > section#team-members .hexagon{
					width: 20%;
				}
			}

			#home > section#team-members .hexagon:hover p{
				color: #f4a061;
				}

			#home > section#team-members .hexagon:hover hr{	
				border-top-color: #f4a061;
				border-bottom-color: #f4a061;
			}
			
				#home > section#team-members .hexagon p {
					color: #252525;
					text-align: center;
					font-size: 1.125em;
					margin: 0;
				}
                                    #home > section#team-members .hexagon p#member-name{
                                        font-weight: bold;
                                    }

					#home > section#team-members .hexagon hr{
						margin-top: 1em;
						margin-bottom:1em;
						margin-left:auto;
						margin-right:auto;
						width: 0.7em;
						border-top-color: #252525;
						border-bottom-color: #252525;

					}
			
			/*#home > section#community-managers .hexagon:hover{
				background-image: none !important;
				background-color: #13bdef;
			}
				
				#home > section#community-managers .hexagon:hover p{
					display: block;
				}
			*/
				
			#home > section#team-members .hexagon.nophoto{
				background-color: #13bdef;
				
				width: 10%;
				height: 130px;
				padding-top: 90px;
				
				margin-right: 4.05%;
				margin-left: 4.05%;
			}
			
				#home > section#team-members .hexagon.nophoto:nth-child(5n+10){
					margin-left: 8.3%;
				}
			
				#home > section#about .hexagon.nophoto p{
					display: block;
				}
		
		


		#home > section#contact{
					background-color: white;
                                        box-shadow: inset 0 0 0 1000px rgba(219,122,49,.5)
					
				}

			@media (min-width: 992px) {
				#home > section#contact{
					min-height: 700px;
				}
			}

			#home > section#contact h1{
				padding-top:10%;
				color:white;
			}
			
			#home > section#contact p{
				color:white;
				font-size:1.5em;
				line-height: 1.8em;		
			}
                            #home >section#contact p:nth-child(2){
                                margin-top: 50px;
                            }

			#home > section#contact a{
				color:white;
				text-decoration: underline;
			}

			#home > section#contact a:hover{
				text-decoration: none;
			}
				
				#home > section#contact #contactform form{
					margin: 0;
				}
			
				#home > section#contact #contactform img{
					cursor: pointer;
					margin-top: 15px;
				}
			
				#home > section#contact #contactform input{
					border-radius: 0;
					width: 70%;
					font-size: 1.125em;
					font-style:italic;
					color:#959595;
					resize: none;
				}

				#home > section#contact #contactform textarea{
					border-radius: 0;
					width: 70%;
					height:90px;
					font-size: 1.125em;
					color:#959595;
					font-style:italic;
					resize: none;
				}
					

#preload{
	display: none;
}

/* Some reverse-responsive tweaks for mobile */
@media (max-width: 992px){
	#home>header>h2, #home>header>h3, #home>section#prices p{
		font-size: 1.2em;
		line-height: 1.5em;
	}

	#home>header>h3:nth-child(4){
		margin-top: 130px;
	}
}




    #home > section#cases{
        background-color: #fff;
    }
    
        #home >section#cases h1{
            color : #252525
        }
        #home >section#cases hr{
           border-top-color: #252525;
           border-bottom-color: #252525;    
        }
            
            #home >section#cases #case-row{
                height: 100%;;
                margin-top:40px;    
            }
              
                #home >section#cases #case-row .case{
                 height: 200px;
                 position: relative;
                 text-align: center;
                 margin-top: 10px;
                 background-image: url(/assets/img/companies/cases/abn-ambro.png);
                }
                
                #home >section#cases #case-row .case:after{
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: #EB6D19;
                    opacity: 0.9;
                }
                    #home >section#cases #case-row .case p{
                        position: relative;
                        z-index: 1;
                        text-align: center;
                        color: #fff;
                        font-size: 1.2em;
                        line-height: 1.8em;
                        
                        
                    }
                    
                        #home >section#cases #case-row .case  p.title{
                            padding-top: 40px;
                            display: inline-block;
                            padding-bottom: 0px;
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                    
                            #home >section#cases #case-row .case  p.title:after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                width: 75%;
                                left: 12.5%;
                                height: 1px;
                                background-color: #fff;
                            }
                #home >section#cases #case-info{
                    padding: 15px;
                    height: 100px;
                    background-color: #c0beb9;
                    margin-top: 10px;
                    min-height: 400px;   
                }
                
                    #home >section#cases #case-info #case-photo{
                        width: 66%;
                        height: 100%;
                        margin: 0;
                        display: inline-block;
                        float:left;    
                    }
                    
                        #home >section#cases #case-info #case-photo img{
                            height: 100%;
                            width: 100%;
                        }
                    
                    #home >section#cases #case-info #case-text{
                        width: 33%;
                        height: 100%;
                        margin: 0;
                        display: inline-block;
                    }
                        #home >section#cases #case-info #case-text h4{
                            color: #e98d47;
                            font-size: 1.8em;
                            font-weight:bold;
                            padding-left: 15px;
                            
                        }
                        #home >section#cases #case-info #case-text hr{
                            border-bottom-color: #e98d47;
                            border-top: 3px solid #e98d47;
                            width: 14px;
                            margin-left: 15px;
                        }
                        
                        #home >section#cases #case-info #case-text p{
                            color: #fff;
                            padding-left: 15px;
                        }    
                    
                        
                        
                        
                        @media (max-width: 650px){
                            #home >section#cases #case-info #case-photo img{
                                display: none;
                            }
                            
                            #home >section#cases #case-info #case-photo{
                                width:0%;
                            }
                            
                            #home >section#cases #case-info #case-text{
                                width:100%;
                            }
                            
                            
                            
                        }
       
          
                        
       #home > section#four-pillars{
         padding-left: 0px;
         padding-right: 0px;
         padding-top: 0px;
         padding-bottom: 0px;
       }
            #home > section#four-pillars:after{
                    content: "";
                    clear: both;
                    display: block;
            }
            #home > section#four-pillars #pillar-1 header hr{
                width: 15px;
                  border-top: 2px solid #fff;    
            }
            
            #home > section#four-pillars #pillar-1 header h1{
                color: #fff;
                margin-top: 0px;
                padding-top: 30px
            }
            
            #home > section#four-pillars .pillar{
              width:50%;
              position: relative;    
              float: left;
              padding: 1px;
              box-sizing: border-box;
            }
            #home > section#four-pillars #pillar-3, #home > section#four-pillars #pillar-4{
                padding-bottom: 0px;
            }

              #home > section#four-pillars .pillar .pillar-wrapper{
                   background:rgb(121,117,108);
                   height: 100%;
               }
                #home > section#four-pillars .pillar .pillar-wrapper .pillar-text{
                    color: #fff;
                    line-height: 1.5;
                    font-size: 1.3em;
                }
                #home > section#four-pillars .pillar-wrapper:before{
                    content:"";
                    width:0px;
                    height:0px;
                    border-top:100px solid transparent;
                    border-bottom:100px solid transparent;
                    border-left:100px solid rgb(218,117,40);
                    position : absolute;

                }
                    #home > section#four-pillars .pillar-wrapper span{
                          position: absolute;
                          color: #fff;
                          font-size: 2.298em;
                          font-weight: bold;
                     }
                     
                     

                #home > section#four-pillars #pillar-1,  #home > section#four-pillars #pillar-2{
                    height: 550px
                }

                #home > section#four-pillars #pillar-3,  #home > section#four-pillars #pillar-4{
                    height: 350px
                }
                  #home > section#four-pillars #pillar-1 > .pillar-wrapper, #home > section#four-pillars #pillar-3 > .pillar-wrapper{
                    padding-left: 40%;   
                }

                   #home > section#four-pillars #pillar-2 > .pillar-wrapper, #home > section#four-pillars #pillar-4 > .pillar-wrapper{
                          padding-right: 40%;   
                  }
                  
                        div#pillar-1  .pillar-wrapper:before{
                            -webkit-transform: rotate(45deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                            -ms-transform: rotate(45deg);  /* IE 9 */
                            transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera  */
                            right: -13px;
                            bottom: -63px;
                        }
                        
                        div#pillar-1 .pillar-wrapper span{
                          right: 25px;
                          bottom: 25px;
                        }
                        
                        div#pillar-1 #intro{
                              padding-top: 20px;
                              color: #fff;
                              line-height: 20px;
                        }
                        
                        
                        div#pillar-1 .pillar-text{
                            margin-top: 50%;
                            float: right;
                            padding-right: 60px;
                        }

                        div#pillar-2  .pillar-wrapper:before{
                            webkit-transform: rotate(135deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                            -ms-transform: rotate(135deg);  /* IE 9 */
                            transform: rotate(135deg);  /* Firefox 16+, IE 10+, Opera  */
                            left: -13px;
                            bottom: -63px;
                        }
                        
                        div#pillar-2 .pillar-wrapper span{
                            left: 25px;
                            bottom: 25px;
                        }
                        
                        div#pillar-2 .pillar-text{
                                float: left;
                                padding-left: 100px;
                                padding-top: 416px;
                        }

                        div#pillar-3  .pillar-wrapper:before{
                            webkit-transform: rotate(-45deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                            -ms-transform: rotate(-45deg);  /* IE 9 */
                            transform: rotate(-45deg);  /* Firefox 16+, IE 10+, Opera  */
                            right: -13px;
                            top: -63px;
                        }
                        
                        div#pillar-3 .pillar-wrapper span{
                          right: 25px;
                          top: 25px;
                        }
                        
                        div#pillar-3 .pillar-text{
                                padding-right: 75px;
                                float: left;
                                padding-top: 65px;
                        }

                        div#pillar-4  .pillar-wrapper:before{
                            webkit-transform: rotate(-135deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                            -ms-transform: rotate(-135deg);  /* IE 9 */
                            transform: rotate(-135deg);  /* Firefox 16+, IE 10+, Opera  */;
                            left: -13px;
                            top: -63px;
                        }
                        
                        div#pillar-4 .pillar-wrapper span{
                          left: 25px;
                          top: 25px;
                        }
                        
                        
                        div#pillar-4 .pillar-text{
                              padding-top: 65px;
                              float: left;
                              padding-left: 100px;
                        }
                        
                        
                        
                        
                        
                        
                        @media (max-width: 600px){
                            #home > section#four-pillars #pillar-2, #home > section#four-pillars #pillar-3, #home > section#four-pillars #pillar-4{
                                height: 250px
                            }
                            #home > section#four-pillars .pillar{
                                width: 100%; 
                            }
                            
                            div#pillar-1  .pillar-wrapper:before{
                                webkit-transform: rotate(45deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                                -ms-transform: rotate(45deg);  /* IE 9 */
                                transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera  */
                                right: -13px;
                                bottom: -63px;
                            }
                        
                        div#pillar-1 .pillar-wrapper span{
                          right: 25px;
                          bottom: 25px;
                        }

                        div#pillar-2  .pillar-wrapper:before{
                            transform: rotate(45deg);
                            right: -13px;
                            left: auto;
                        }
                        
                        div#pillar-2 .pillar-wrapper span{
                            right:  25px;
                            left: auto;
                            bottom: 25px;
                        }

                        div#pillar-3  .pillar-wrapper:before{
                            webkit-transform: rotate(45deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                            -ms-transform: rotate(45deg);  /* IE 9 */
                            transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera  */
                            right: -13px;
                            bottom: -63px;
                            top: auto;
                        }
                        
                        div#pillar-3 .pillar-wrapper span{
                          right: 25px;
                          bottom: 25px;
                          top: auto;
                        }

                        div#pillar-4  .pillar-wrapper:before{
                            webkit-transform: rotate(45deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                            -ms-transform: rotate(45deg);  /* IE 9 */
                            transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera  */
                            right: -13px;
                            left: auto;
                            bottom: -63px;
                            top: auto;
                        }
                        
                        div#pillar-4 .pillar-wrapper span{
                          right: 25px;
                          bottom: 25px;
                          top: auto;
                          left: auto;
                        }
                        
                       #home > section#four-pillars #pillar-1 > .pillar-wrapper, #home > section#four-pillars #pillar-3 > .pillar-wrapper{
                            padding-left: 20%; 
                            padding-right: 20%;
                        }

                   #home > section#four-pillars #pillar-2 > .pillar-wrapper, #home > section#four-pillars #pillar-4 > .pillar-wrapper{
                          padding-right: 20%; 
                          padding-left: 20%;  
                  }
                  
                  #home > section#four-pillars .pillar .pillar-wrapper .pillar-text{
                      padding: 0px;
                      position: absolute;
                       top: 70px; 
                      padding-bottom: 40px;
                  }
                  
                  #home > section#four-pillars #pillar-1 > .pillar-wrapper .pillar-text{
                      position: static;
                  }
                            
                }
                
                
                
                #home > section#expertise{
                    background-color: #979797;
                    position: relative;
                }
                
                    #home > section#expertise header h1{
                        color: #fff;
                    }
                    
                    home > section#expertise header hr{
                         width: 15px;
                         border-top: 2px solid #fff;    
                     }
                     
                     #home >section#expertise .row-fluid{
                         padding-top: 70px;
                         padding-bottom: 70px;
                     }
                     
                        #home >section#expertise .row-fluid #expertise-list{
                            margin: 0;
                            list-style: none;
                            color: #fff;
                            font-weight: bold;
                            font-size: 3em;
                            position: relative;
                        }
                            #home >section#expertise .row-fluid #expertise-list:after{
                                content: "";
                                position: absolute;
                                right: 0px;
                                height:75%;
                                top: 12.5%;
                                width: 1px;
                                background-color: #fff;
                            }
                        
                            #home >section#expertise .row-fluid #expertise-list li{
                                line-height: 35px;
                                padding-bottom: 20px;
                            }
                        
                            #home >section#expertise .row-fluid #expertise-list li:hover{
                                color: #db7a31;
                            }
                            
                            #home >section#expertise .row-fluid:nth-child(2) p{
                                color: #fff;
                                line-height: 25px;
                            }
                            
                            
                            @media (max-width: 1150px){
                                #home >section#expertise .row-fluid #expertise-list{
                                    font-size: 2em;
                                }
                            }
                            
                            
                            @media (max-width: 767px){
                                #home >section#expertise .row-fluid div:nth-child(2){
                                   margin-top:  30px;
                                }
                            }
                            