
/* ==========================================================================
	Author's custom styles
   ========================================================================== */

*{
	font-family: 'Forza SSm A', 'Forza SSm B';
	font-style: normal;
}
   
.container-fluid{
	padding: 0;
}

p{
	font-size: 1.125em;
	line-height: 1em;
	
	font-weight: 400;
	font-style: normal;
}

h1{
	font-size: 2.298em;
}

a{
	color: #00dcff;
}
   
#home{
	background-image: url(/assets/img/home.png);
	background-size:100%;
	background-repeat: no-repeat;
}

#contact{
	background-image: url(/assets/img/contact.png);
	background-size:100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 185px;
}

	#home > nav{
		background-color: white;
		opacity: 0.95;
		width: 60%;
		height: 100px;
		position: absolute;
		top: 0px;
		
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 20%;
		padding-right: 20%;
		
		z-index: 99;
	}
	
	#home > nav > #logo{
		height: 64px;
		width:64px;
		margin-top:18px;
		
		float: left;
		cursor: pointer;
	}
	
	#home > nav > ul{
		float: right;

	}
	
		#home > nav li{
			display:inline-block;
			vertical-align:middle;
			line-height: 100px;
			float: left;
			color: #bebebe;
			padding-left:60px;
			list-style: none;
		}
		
		#home > nav li:hover{
			
		}
		
			#home > nav li a{
				font-weight: 500;
				font-style: normal;
				font-size: 1.476em;
				color: inherit;
				
			}
			
			#home > nav li a:hover{
				text-decoration: none;
			}
		
		#home > nav li.active{
			color: #8a8b8b;
			border-bottom: 1px solid #d5d4d4;
		}
   
	#home > header{
		min-height: 800px;
		color: white;
		background-color: transparent;
		padding-left: 20%;
		padding-right:20%;
		padding-top: 35%;
	}
	
		#home > header > h1{
			color: #fafafa;
			margin: 0;
			text-shadow: 2px 2px 5px #000000;
			font-weight: 700;
			margin-bottom:3px;	
		}
		
		#home > header > h2{
			color: #fafafa;
			text-shadow: 2px 2px 5px #000000;
			font-size: 1.5em;
			line-height: 1.8em;		
			font-weight: 400;
			font-style: normal;
		}

		#home > header > h3{
			padding-top:25px;
			color:#252525;
			font-size: 1.5em;
			line-height: 1.8em;		
			
			font-weight: 400;
			font-style: normal;
		}

		#home > header > hr{
			margin-top: 2em;
			box-shadow: 2px 2px 3px #000000;
			width: 1.5em;

			color:#fafafa;
		}

	#home > section{
		background-color: #fafafa;
		
		padding-right: 20%;
		padding-left: 20%;
		padding-top: 3%;
		padding-bottom: 3%;
	}
	
		#home > section > header > h1{
			color: #bababa;
			margin: 0;			
			font-weight: 700;
			line-height: 1.357em;
		}
		
		#home > section > header > hr{
			margin-top: 0.5em;
			width: 1.5em;
			border-top-color: #eaeaea;
			border-bottom-color: #dedede;
		}
	

		#home > section#community-managers{

		


			background: rgb(250, 250, 250);
			background: -moz-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team.jpg') no-repeat;
			background: -webkit-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team.jpg') no-repeat;
			background: -o-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team.jpg') no-repeat;
			background: -ms-linear-gradient(270deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team.jpg') no-repeat;
			background: linear-gradient(0deg, transparent 50%, rgb(255, 255, 255) 100%), url('/assets/img/team.jpg') no-repeat;


			background-size: 100%;
			overflow: auto;
			min-height: 820px;

		}

			#home > section#community-managers  header > h1{
				color: black;
				margin: 0;
				
				font-weight: 700;
				line-height: 1.357em;
			}

			#home > section#community-managers p{
				font-size: 1.556em;
				line-height: 1.8em;		

				color:black;
			}

			#home > section#community-managers  header > hr{
				margin-top: 0.5em;
				width: 1.5em;
				border-top-color: black;
				border-bottom-color: black;
			}


		#home > section#prices{
			background-color: #959595;
			overflow: auto;
			min-height: 700px
		}

		#home > section#prices p{
			font-size: 1.556em;
			color:white;
			line-height: 1.8em;		
			padding-bottom:20px;

		}

		#home > section#prices h1{
			padding-top:10%;
			color:white;
		}

		#home > section#prices #prices-images{
			padding-top:40px;
		}

			#home > section#prices #prices-images #left-prices{
				width:85%;
				float:left;

			}
				#home > section#prices #prices-images #right-prices{
					padding-top:30px;
					height:90px;
					width:80px;
					float:right;
				}

		#home > section#clients{
			background-color: #464646;
			overflow: auto;
			min-height: 700px;
		}
		
			#home > section#clients #customers{
				overflow: auto;
			}
			
			#home > section#clients #partners{
				overflow: auto;
			}
			
				#home > section#clients #partners header{
					margin-top: 20px;
				}
		
			#home > section#clients  header > h1{
				color: white;
				margin: 0;
				padding-top:10%;
				font-weight: 700;
				line-height: 1.357em;
			}
			
			#home > section#clients  header > hr{
				margin-top: 0.5em;
				width: 1.5em;
				border-top-color: #7d7d7d;
				border-bottom-color: #686868;
			}
			
			#home > section#clients .company{
				background-color: #e6e6e6;
				width: 15%;
				float: left;
				
				margin-right: 1.6%;
				margin-top: 8px;
				margin-bottom: 8px;
				
				cursor: pointer;
			}
	
		
			#home > section#team-members{
				overflow: auto;
				background-color:white;

			}
		
			#home > section#team-members .hexagon{
				
				width: 33%;
				height: 80px;

				float: left;

			}

			#home > section#team-members .hexagon:hover p{
				color: #00aeef;
				}

			#home > section#team-members .hexagon:hover hr{	
				border-top-color: #00aeef;
				border-bottom-color: #00aeef;
			}
			
				#home > section#team-members .hexagon p {
					color: #252525;
					text-align: center;
					font-size: 1.125em;
					margin: 0;
				}

					#home > section#team-members .hexagon hr{
						margin-top: 0.2em;
						margin-bottom:0.6em;
						margin-left:auto;
						margin-right:auto;
						width: 0.7em;
						border-top-color: #252525;
						border-bottom-color: #252525;

					}
			
			/*#home > section#community-managers .hexagon:hover{
				background-image: none !important;
				background-color: #13bdef;
			}
				
				#home > section#community-managers .hexagon:hover p{
					display: block;
				}
			*/
				
			#home > section#team-members .hexagon.nophoto{
				background-color: #13bdef;
				
				width: 10%;
				height: 130px;
				padding-top: 90px;
				
				margin-right: 4.05%;
				margin-left: 4.05%;
			}
			
				#home > section#team-members .hexagon.nophoto:nth-child(5n+10){
					margin-left: 8.3%;
				}
			
				#home > section#about .hexagon.nophoto p{
					display: block;
				}
		
		


		#home > section#contact{
					background-color: white;			
					min-height: 700px;					
				}

			#home > section#contact h1{
				padding-top:10%;
				color:white;
			}
			
			#home > section#contact p{
				color:white;
				font-size:1.5em;
				line-height: 1.8em;		
			}
		
			
			#home > section#contact > #contactform{
				position: absolute;
				left: 36%;
				width: 39%;
				margin-left: 16%;
				
				z-index: 2;
				
				color: white;
				
				min-height: 350px;
				min-width: 350px;
			}
				
				#home > section#contact > #contactform form{
					margin: 0;
				}
			
				#home > section#contact > #contactform img{
					cursor: pointer;
					margin-top: 15px;
				}
			
				#home > section#contact > #contactform input{
					border-radius: 0;
					width: 70%;
					font-size: 1.125em;
					font-style:italic;
					color:#959595;
					resize: none;
				}

				#home > section#contact > #contactform textarea{
					border-radius: 0;
					width: 70%;
					height:90px;
					font-size: 1.125em;
					color:#959595;
					font-style:italic;
					resize: none;
				}
					

#preload{
	display: none;
}
